node_modules/
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.class
*.exe
*.so
*.dll
